body {
    background-color: black;
}

p {
    font-size: 25px;
    color:rgb(35, 237, 112);
    text-align: center;
    margin: 10px 5px;
}

span {
    margin:0 20px;
    vertical-align: middle;
}

#actualSong {
    font-size: 20px;
    height: 40px;
    color: blanchedalmond;
    border: 1px solid rgba(255, 235, 205, 0.34);
}

#actualSong:hover {
    background-color: rgba(105, 105, 105, 0.422);
}

.selected {
    color: rgb(35, 237, 112) !important;
    background-color: rgba(0, 255, 51, 0.271);
}

.icon {
    color:blanchedalmond;
    font-size: 30px;
    margin: 5px 20px;
}